In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

In [6]:
card_details={}
card_details['cat2']=[]
card_details['cat3']=[]
card_details['관광지명']=[]
card_details['지역명']=[]

raw_url_1='http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaBasedList?ServiceKey=0Pi8vu%2F%2BRtATNDBh0aSxxzznYgmCjRysSSN0BDpRsCrf99%2Bbt1E551bGK5eLkmfGtE%2F1c0a80xT0tB83Ql%2FAWw%3D%3D&contentTypeId=&areaCode=&sigunguCode=&cat1=&cat2=&cat3=&listYN=Y&MobileOS=ETC&MobileApp=TourAPI3.0_Guide&arrange=A&numOfRows=12&pageNo={}'
raw_url_2='http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaBasedList?ServiceKey=fbUkx4efUp1hBNUpOELVu4YkG99gnny98yOgf7pbx73Mr0ClesVNa57d%2B%2BbjUnySsp0BiGFCOcJ6EEiLLW4mbg%3D%3D&contentTypeId=&areaCode=&sigunguCode=&cat1=&cat2=&cat3=&listYN=Y&MobileOS=ETC&MobileApp=TourAPI3.0_Guide&arrange=A&numOfRows=12&pageNo={}'
raw_url_3='http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaBasedList?ServiceKey=bOBLhS9Vu2WkmBHPaan7z2SPnJygZNdrqkL2YIAWOB4c8KFMWnIWN02ljXI9CNM%2FFfCOQWxpn7fV3Vm%2F%2FdPt%2BA%3D%3D&contentTypeId=&areaCode=&sigunguCode=&cat1=&cat2=&cat3=&listYN=Y&MobileOS=ETC&MobileApp=TourAPI3.0_Guide&arrange=A&numOfRows=12&pageNo={}'

for n in range(2807):
    if n <= 999:
        url=raw_url_1.format(n+1)
    elif n <= 1999:
        url=raw_url_2.format(n+1)
    else:
        url=raw_url_3.format(n+1)
        
    response=requests.request('GET',url)
    data=BeautifulSoup(response.text, 'lxml-xml')
    cards_data=data.find_all('item')
    for card in cards_data:
        try:
            card_details['cat2'].append(card.find('cat2').string)
        except:
            card_details['cat2'].append('None')
        try:
            card_details['cat3'].append(card.find('cat3').string)
        except:
            card_details['cat3'].append('None')
        try:
            card_details['관광지명'].append(card.find('title').string)
        except:
            card_details['관광지명'].append('None')
        try:
            pattern=r'\s'
            result=re.split(pattern, card.find('addr1').string)
            area=result[0]+' '+result[1]
            card_details['지역명'].append(area)
        except:
            card_details['지역명'].append('None')
raw=pd.DataFrame(card_details)
raw

        cat2       cat3                                        관광지명        지역명
0      C0114  C01140001                       ‘바다여행의 종합 세트’ 사천으로 가자       None
1       None       None                          ‘이열치열’ 하러 대구로 떠나자!       None
2      C0112  C01120001                       ‘직지’의 고장이자 쉼과 여유의 휴양지       None
3      C0115  C01150001                      ‘충혼’의 수양벚꽃 마중하는 호젓한 꽃길       None
4      C0114  C01140001             “동굴아, 여름을 부탁해”...그늘 찾아 떠나는 삼척여행       None
...      ...        ...                                         ...        ...
33679  B0201  B02011100                            people(후암별장3030)  서울특별시 용산구
33680  B0201  B02011100                                   pine view    경기도 수원시
33681  A0502  A05020200                                   santa 아리아    경기도 안성시
33682  A0305  A03050100                                  scg스포츠아카데미  서울특별시 은평구
33683  B0201  B02011100  seoul corner guest house 1호점(서울 코너 게스트하우스)  서울특별시 용산구

[33684 rows x 4 columns]

In [3]:
df=pd.read_csv('C:/Users/82102/Desktop/문화 관광 project/관광타입분류.csv')
mid=df[['중분류 (cat2)','중분류']]
mid.rename(columns={'중분류 (cat2)':'cat2'}, inplace=True)
mid.drop_duplicates(['cat2'],inplace=True)
mid.reset_index(inplace=True)
mid=mid[['cat2','중분류']]

ss=df[['소분류 (cat3)','소분류']]
ss.rename(columns={'소분류 (cat3)':'cat3'}, inplace=True)
ss.drop_duplicates(['cat3'],inplace=True)
ss.reset_index(inplace=True)
ss=ss[['cat3','소분류']]

C:\Users\82102\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
C:\Users\82102\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [7]:
raw2=pd.merge(raw,mid,how='left', on='cat2')
raw3=pd.merge(raw2,ss,how='left', on='cat3')

In [8]:
classif=raw3[['관광지명','지역명','중분류','소분류']]
classif

                                             관광지명        지역명     중분류     소분류
0                           ‘바다여행의 종합 세트’ 사천으로 가자       None    힐링코스    힐링코스
1                              ‘이열치열’ 하러 대구로 떠나자!       None     NaN     NaN
2                           ‘직지’의 고장이자 쉼과 여유의 휴양지       None    가족코스    가족코스
3                          ‘충혼’의 수양벚꽃 마중하는 호젓한 꽃길       None    도보코스    도보코스
4                 “동굴아, 여름을 부탁해”...그늘 찾아 떠나는 삼척여행       None    힐링코스    힐링코스
...                                           ...        ...     ...     ...
33679                            people(후암별장3030)  서울특별시 용산구    숙박시설  게스트하우스
33680                                   pine view    경기도 수원시    숙박시설  게스트하우스
33681                                   santa 아리아    경기도 안성시     음식점     서양식
33682                                  scg스포츠아카데미  서울특별시 은평구  복합 레포츠  복합 레포츠
33683  seoul corner guest house 1호점(서울 코너 게스트하우스)  서울특별시 용산구    숙박시설  게스트하우스

[33684 rows x 4 columns]

In [9]:
classif.to_csv('관광정보분류.csv', index=False, encoding='UTF-8-sig')

In [3]:
classif=pd.read_csv('관광정보분류.csv')

In [10]:
classif['중분류'].value_counts()

음식점       8730
역사관광지     4051
육상 레포츠    3528
자연관광지     3323
숙박시설      3266
문화시설      2225
체험관광지     1768
휴양관광지     1664
쇼핑        1404
축제         827
수상 레포츠     529
건축/조형물     472
힐링코스       396
가족코스       331
산업관광지      299
공연/행사      205
관광자원       154
도보코스       126
나홀로코스       96
복합 레포츠      76
레포츠소개       72
캠핑코스        36
항공 레포츠      23
맛코스         19
Name: 중분류, dtype: int64

In [4]:
classif[classif['지역명']=='경주시 산내면']

                  관광지명      지역명    중분류 소분류
7572  동창천 청룡폭포(청룡인공폭포)  경주시 산내면  자연관광지  폭포

In [18]:
classif[classif['중분류']=='체험관광지']

                   관광지명         지역명    중분류        소분류
21        가고파 꼬부랑길 벽화마을    경상남도 창원시  체험관광지       이색거리
45                 가락공방    충청북도 청주시  체험관광지       이색체험
70                가루매마을     경기도 양평군  체험관광지  농.산.어촌 체험
108               가뫼골마을    경상남도 진주시  체험관광지  농.산.어촌 체험
131              가산산성마을    경상북도 칠곡군  체험관광지  농.산.어촌 체험
...                 ...         ...    ...        ...
33100            GB포유공방    전라남도 영광군  체험관광지       이색체험
33158              K-26     경기도 가평군  체험관광지       이색체험
33174      KT&G 상상마당 부산  부산광역시 부산진구  체험관광지       이색체험
33270  VRZONE 용산 아이파크몰점   서울특별시 용산구  체험관광지       이색체험
33284            WOW:미탄     강원도 평창군  체험관광지       이색체험

[1768 rows x 4 columns]

In [27]:
classif['지역명'].unique()

array(['None', '서울특별시 종로구', '강원도 고성군', '경기도 양평군', '서울특별시 용산구', '충청남도 태안군',
       '경기도 이천시', '충청남도 공주시', '부산광역시 부산진구', '전라남도 신안군', '충청북도 청주시',
       '충청남도 부여군', '경상북도 안동시', '전라남도 진도군', '경상남도 창원시', '강원도 평창군',
       '경상남도 통영시', '경상남도 산청군', '대전광역시 유성구', '경기도 양주시', '경기도 하남시',
       '전라북도 남원시', '경기도 여주시', '부산광역시 강서구', '인천광역시 중구', '경기 가평군',
       '경기도 남양주시', '서울특별시 송파구', '경상남도 거제시', '전라북도 전주시', '충청북도 제천시',
       '경기도 광주시', '경상남도 합천군', '경기도 파주시', '제주특별자치도 서귀포시', '강원도 홍천군',
       '전라남도 여수시', '전라남도 곡성군', '경기도 포천시', '경상북도 영천시', '전라북도 부안군',
       '강원 홍천군', '충청남도 서산시', '충청남도 예산군', '강원도 인제군', '서울특별시 구로구',
       '인천광역시 남동구', '강원도 정선군', '서울특별시 강동구', '전라남도 담양군', '서울특별시 영등포구',
       '전라남도 영광군', '전라남도 해남군', '경기도 광명시', '인천광역시 미추홀구', '대구광역시 동구',
       '대전광역시 중구', '제주특별자치도 제주시', '경기도 의왕시', '광주광역시 서구', '경상남도 진주시',
       '서울특별시 강북구', '서울특별시 서대문구', '서울특별시 마포구', '경기도 구리시', '인천광역시 부평구',
       '경기도 용인시', '경기도 평택시', '경상남도 사천시', '전라남도 완도군', '경상북도 칠곡군',
       '충청북도 옥천군', '전라남도 장성군', '경상남도 양산시', '충청북도 영동군', '경상남도 거창군',
       '충청북도 음성군', '강원도 속초시', '경상북도 성주군', '전라남도 영암군', '경상남도 김해시',
       '경북 성주군', '대구광역시 달서구', '서울특별시 중구', '경기도 안성시', '부산광역시 기장군',
       '부산광역시 연제구', '충청북도 단양군', '경상북도 예천군', '경상북도 경주시', '경상남도 밀양시',
       '전라남도 강진군', '경기도 과천시', '강원 동해시', '경상북도 문경시', '충청남도 홍성군',
       '전라북도 순창군', '경기도 가평군', '전라북도 무주군', '울산광역시 남구', '경상남도 남해군',
       '인천광역시 서구', '울산광역시 울주군', '대구광역시 달성군', '경남 남해군', '인천광역시 연수구',
       '경남 하동군', '충청남도 청양군', '경상북도 봉화군', '전남 완도군', '충청북도 괴산군', '충청남도 천안시',
       '서울특별시 동대문구', '충남 서산시', '강원도 원주시', '전라북도 진안군', '강원도 강릉시',
       '강원도 삼척시', '충청북도 충주시', '인천광역시 동구', '경상남도 고성군', '충청남도 서천군',
       '대전광역시 대덕구', '전라북도 군산시', '서울 양천구', '경상북도 영덕군', '강원도 양양군',
       '경기도 군포시', '경기도 화성시', '부산광역시 금정구', '부산광역시 사하구', '부산광역시 남구',
       '경기도 성남시', '경상북도 청도군', '대구광역시 서구', '강원도 화천군', '거창군 신원면', '거창군 남상면',
       '강원도 춘천시', '부산광역시 사상구', '부산광역시 영도구', '부산광역시 서구', '강원도 동해시',
       '경북 경주시', '인천광역시 강화군', '전라남도 순천시', '전라북도 정읍시', '경상북도 상주시',
       '서울특별시 강남구', '전라남도 목포시', '경상북도 경산시', '강원도 영월군', '서울특별시 관악구',
       '충청남도 논산시', '경기도 의정부시', '경상남도 함안군', '전라북도 고창군', '서울특별시 서초구',
       '대전광역시 서구', '경기도 부천시', '충청남도 아산시', '울산광역시 북구', '온라인 개최', '경기도 시흥시',
       '강원도 횡성군', '경상북도 김천시', '전라북도 임실군', '서울특별시 광진구', '충청남도 보령시',
       '서울특별시 강서구', '충청북도 보은군', '전라남도 장흥군', '울산광역시 중구', '경기도 수원시',
       '강원도 철원군', '강원도 양구군', '전북 순창군', '전라남도 보성군', '인천 강화군', '경상북도 고령군',
       '충청남도 금산군', '경기도 김포시', '경기도 안산시', '경기도 안양시', '서울특별시 성북구',
       '대구광역시 중구', '전라남도 화순군', '대전광역시 동구', '경상북도 의성군', '경상남도 함양군',
       '부산광역시 중구', '경상북도 청송군', '인천광역시 계양구', '부산광역시 해운대구', '서울특별시 성동구',
       '경상북도 포항시', '제주 서귀포시', '서울특별시 도봉구', '전라남도 고흥군', '광주광역시 남구',
       '경상북도 울릉군', '서울 용산구', '경기 시흥시', '경상북도 울진군', '경상남도 의령군', '경남 거제시',
       '강원 고성군', '부산광역시 동래구', '강원도 태백시', '광주광역시 동구', '전북 부안군', '경기도 고양시',
       '전라북도 완주군', '경기도 동두천시', '경상남도 하동군', '대구광역시 북구', '경상북도 군위군',
       '경상북도 구미시', '광주광역시 광산구', '울산광역시 동구', '서울특별시 양천구', '서울특별시 노원구',
       '전라남도 나주시', '경남 산청군', '인천광역시 옹진군', '충청남도 계룡시', '전라남도 함평군',
       '제주 제주시', '경기도 연천군', '충청남도 당진시', '대구광역시 남구', '대구광역시 수성구',
       '세종특별자치시 연서면', '강원 철원군', '경남 고성군', '전라북도 익산시', '고양시 일산동구와',
       '경기 고양시', '세종특별자치시 만남로', '전북 고창군', '서울 서대문구', '강원 삼척시', '전라남도 구례군',
       '세종특별자치시 장군면', '충청북도 진천군', '경북 상주시', '경상남도 창녕군', '경상북도 영주시',
       '전남 담양군', '서울 관악구', '강원 원주시', '전라북도 김제시', '수원시 장안구', '충청북도 증평군',
       '부산 중구', '광주광역시 북구', '부산광역시 수영구', '전라남도 광양시', '부산광역시 동구', '전남 구례군',
       '서울특별시 금천구', '경남 밀양시', '경북 구미시', '경남 창원시', '전북 진안군', '부산 북구',
       '부산광역시 북구', '경상북도 영양군', '강원 강릉시', '서울특별시 동작구', '세종특별자치시 다솜3로',
       '세종특별자치시 연기면', '세종특별자치시 국세청로', '인천 옹진군', '전라북도 장수군', '경기도 오산시',
       '제주도 제주시', '서울특별시 중랑구', '세종특별자치시 금남면', '세종특별자치시 보람동', '전북 군산시',
       '세종특별자치시 한누리대로', '충북 음성군', '전북 정읍시', '세종특별자치시 전동면', '전북 김제시',
       '전남 순천시', '서울 광진구', '서울특별시 은평구', '세종특별자치시 전의면', '울산 울주군', '경북 칠곡군',
       '서울 중구', '전라남도 무안군', '경북 울릉군', '경기 화성시', '전북 남원시', '경남 창녕군',
       '강원 화천군', '충남 논산시', '세종특별시 만남로', '부산 사하구', '대구 달성군', '경남 통영시',
       '세종특별자치시 보듬7로', '충북 청주시', '경남 사천시', '경북 경산시', '세종특별시 연서면',
       '부산 강서구', '대전 서구', '전남 해남군', '세종특별자치시 다솜로', '경남 거창군', '경기 여주시',
       '도봉산 입구', '경기 안산시', '인천 동구', '경주시 산내면', '세종특별자치시 달빛1로',
       '119-11, Sansuhwa-ro,', '서울시 중구', '세종특별자치시 바른7길', '강원 춘천시',
       '울산 중구', '세종특별자치시 ', '한식 서울특별시', '13-29, Jukjeongseowon-gil,',
       '전남 목포시', '세종특별자치시 만남로6길', '전남 화순군', '경기 부천시', '전북 무주군', '경기 수원시',
       '강원 인제군', '세종특별자치시 조치원읍', '세종특별자치시 도움3로', '충청북도 제천시봉양읍', '서울시 성북구',
       '경기 광명시', '세종특별자치시 가름로', '세종특별자치시 어진동', '충북 진천군', '강원 평창군',
       '서울 종로구', '강원 양구군', '전남 영광군', '경북 울진군', '제주도 서귀포시', '인천 중구',
       '경기 의왕시', '충남 부여군', '경북 봉화군', '경기 용인시', '세종특별자치시 도움1로', '경북 청도군',
       '세종특별자치시 부강면', '충남 보령시', '전남 보성군', '전남 강진군', '세종특별시 장군면', '충북 충주시',
       '전북 장수군', '강원 횡성군', '부산 동구', '인천 부평구', '강원 양양군', '서울 노원구',
       '경기 남양주시', '경북 의성군', '세종특별자치시 국책연구원3로', '경북 영덕군', '춘천시 강원도',
       '경기 안양시', '대전 동구', '경기 양평군', '서울 서초구', '전남 진도군', '경기 안성시',
       '서울시 양천구', '분할 개최', '전남 나주시', '대구 달서구', '전남 곡성군', '전북 임실군',
       '전북 전주시', '세종시 ', '세종특별자치시 도움6로', '세종특별자치시 정안세종로', '경북 영주시',
       '충북 보은군', '강원 속초시', '(37128) 경상북도', '부산 서구', '충북 영동군', '울산 동구',
       '세종특별자치시 마음로', '수원시 팔달구', '세종시 대평동', '충북 제천시', '전남 신안군',
       '세종특별자치시 시청대로', '세종 장군면', '경북 안동시', '경기 성남시', '전남 여수시', '서울 영등포구',
       '경기도 여주군', '인천 연수구', '인천 서구', '전남 고흥군', '부산 영도구', '충북 단양군',
       '경북 포항시', '대구 북구', '세종특별자치시 연동면', '40, Yongduyokjang', '양주시 경기도',
       '서울 강북구', '세종 연기면', '서울 강남구', '충남 공주시', '서울 은평구', '서울시 성동구',
       '대구 서구', '전북 익산시', '경남 진주시', '인천 남동구', '경기 연천군', '경남 김해시',
       '전남 장흥군', '대구 동구', '부산 기장군', '통영 도남관광지', '제천시 고암동', '네이버TV 온라인',
       '부산 해운대구', '경기 김포시', '경북 군위군', '충남 계룡시', '서울시강동구 천호동', '전주시 덕진구',
       '서울 동대문구', '세종특별자치시 호려울로', '청주시 상당구', '\u200b부산 영도구', '남양주시 별내면',
       '포항시 북구', '세종 금남면', '전남 무안군', '통영시 세병로', '경기 파주시',
       '524-11, Geonjae-ro,', '전주시 완산구', '경남 함양군', '경남 의령군', '전남 함평군',
       '인천시 강화군', '서울 강동구', '경기 하남시', '대전광역시유성구 도룡동', '19, Jungheung-ro',
       '\u200b강원도 횡성군', '대구시 중구', '6개 권역에서', '충남 태안군', '서울 마포구',
       '18, Hoegi-ro', '대구 중구'], dtype=object)

In [5]:
classif['지역명'].value_counts().head(100)

None            1107
강원도 평창군          834
서울특별시 종로구        772
제주특별자치도 제주시      754
제주특별자치도 서귀포시     671
                ...
경상남도 진주시         119
인천광역시 연수구        117
전라북도 정읍시         113
충청남도 서천군         111
경상북도 청도군         111
Name: 지역명, Length: 100, dtype: int64